.fixedheader {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top :hover {
    background-color: #474747;
}

.dropdown-content :hover {
    background-color: #474747;
}

.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-nav li {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex-nav .social {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.dropdown-content {
    height: 100%;
}

.toggleNav {
    display: none;
}

@media all and (max-width:1000px) {
    #video-background {
        margin-top: 22vh;
    }
    .flex-nav ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-nav li {
        -webkit-box-flex: 31;
        -ms-flex: 31 1 50%;
        flex: 3 1 50%;
    }
    .flex-nav .social {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
    }
    .top h1 {
        margin-top: 0px;
    }
    .top a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media all and (max-width:600px) {
    #video-background {
        margin-top: 0;
    }
    .top {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 2;
        flex: 3;
    }
    .flex-nav li {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        background-color: #999;
    }
    .flex-nav {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        flex: 1;
        position: relative;
        display: inline-block;
    }
    .flex-nav:hover .dropdown-content {
        display: block;
    }
    .flex-nav:hover .toggleNav {
        background-color: #3e8e41;
    }
    .flex-nav ul {
        display: none;
    }
    .flex-nav ul.open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .toggleNav {
        background-color: #4CAF50;
        display: block;
        height: 10.2vh;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border: solid black;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }
    .top h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}